
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@500&display=swap');
#menu .logo {
  display: block;
  width: 50%;
  height: 50px;
}
#menu .navbar-brand{
  font-family: 'Pacifico', cursive;
  color: #0099ff!important;
  text-shadow: 2px 2px 2px gray; 
  font-size: 30px;
}

#menu nav {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
#menu .nav-link {
  color: black;
  font-size: 18px;

}

#menu .nav-link.active {
  color: #0099ff;
}
#menu .navbar-light .navbar-nav .nav-link {
  color:black;
}

#menu .nav-link {
  margin-left: 1rem;
}
#menu .navbar-light .navbar-nav .nav-link:hover {
  color: teal;
}
#menu .bg-dark {
  background-color:white!important;
}
#menu .drawer-menu .ant-drawer-content-wrapper{
  width: 35% !important;
}
#menu2 .bg-dark {
  border-bottom: 1px solid black;
}
#menu2 .navbar-brand{
  font-family: 'Pacifico', cursive;
  color: #0099ff!important;
  text-shadow: 2px 2px 2px gray; 
  font-size: 30px;
}
#menu2 .navbar-collapse {
  margin-right: 100px;
}

#menu2 .navbar-dark .navbar-nav .nav-link {
  color: black !important;
  font-size: 1rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

a.nav-link{
  padding-left: 0%;
}


#menu2 .navbar{
  background-color:white!important;
}
#menu2 .span.ant-dropdown-trigger.nav-link {
  text-align: left;
}


.sss{
  padding-bottom: 2rem !important;
  padding-right: 1rem !important;
}
.sss-true{
  color: rgb(100, 100, 255) !important;
  display: block !important;
}
a.navbar-brand img {
  width: 100px !important;
  height: 60px;


}
@media (max-width: 768px) {
  #menu .drawer-menu .ant-drawer-content-wrapper{
    width: 45% !important;
  }
}
@media (max-width: 576px) {
  #menu .drawer-menu .ant-drawer-content-wrapper{
    width: 100% !important;
  }
  #menu2 .navbar-dark .navbar-nav .nav-link {
    color: black !important;
    font-size: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: bold;
  }
  #menu2 .span.ant-dropdown-trigger.nav-link {
    text-align: center;
  }
}
